<div fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="30px" style="padding: 20px 10px 100px 100px">
<div>
  <img src="assets/images/Profile-panel.png" style="margin-top: -272px;">
</div>
  <div fxLayout="column" fxLayoutGap="10px">
    <div fxLayout="row" fxLayoutGap="20px">
      <img src="assets/images/frame-1.png" height="88px" width="250px">
      <img src="assets/images/frame-2.png" height="88px" width="250px">
      <img src="assets/images/frame-3.png" height="88px" width="250px">
    </div>
    <img src="assets/images/Forum-card.png">
    <img src="assets/images/Forum-card.png">
    <img src="assets/images/Forum-card.png">
  </div>
</div>
