
<mat-card class="sponsor-card mb-20" style="box-shadow: none; border-radius: 4px" *ngIf="isFeed">
  <p style="font-size: 16px; font-weight: 400">Ideas</p>
  <mat-radio-group aria-label="Select an option" fxLayout="column" fxLayoutGap="20px">
    <mat-radio-button checked value="all" fxLayout="column" [formControl]="IdeaType">
      <p class="mb-0 pl-8">All Ideas</p>
    </mat-radio-button>
    <mat-radio-button value="common" fxLayout="column">
      <p class="mb-0 pl-8">Public ideas</p>
    </mat-radio-button>
    <mat-radio-button value="personal" fxLayout="column">
      <p class="mb-0 pl-8">Consensual ideas</p>
    </mat-radio-button>
  </mat-radio-group>
</mat-card>

<mat-card class=" sponsor-card mb-20" style="box-shadow: none; border-radius: 4px">
  <p style="font-size: 16px; font-weight: 400">Popular Categories</p>
  <div class="banner-card border-radius-4" *ngFor="let cat of category">
    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" class="banner-card-list mb-20" (click)="filterFeeds(cat.name, 'category')">
      <div fxFlex="20" class="banner-card-img">
        <img [src]="'./assets/images/'+cat?.icon+'.svg'" width="40"
            height="40">
      </div>
      <div fxFlex="80">
        <div class="text-truncate font-size-16 banner-card-title" style="font-weight: 500;">{{cat?.name}}</div>
        <p class="font-size-12 text-truncate hint-text mb-0" style="font-size: 12px; color: rgba(151, 152, 157, 1)">{{cat?.count}} post(s)</p>
      </div>
    </div>
  </div>
</mat-card>

<mat-card class=" sponsor-card pb-20" style="box-shadow: none; border-radius: 4px">
  <p style="font-size: 16px; font-weight: 400">Dzongkhags</p>
  <div class="banner-card border-radius-4
" *ngFor="let cat of dzongkhags">
    <div fxLayout="row" fxLayoutGap="12px" fxLayoutAlign="start center" class="banner-card-list mb-20" (click)="filterFeeds(cat.name, 'dzongkhag')">
      <div fxFlex="20" class="banner-card-img">
        <img [src]="cat?.icon" width="32"
            height="32">
      </div>
      <div fxFlex="80">
        <div class="text-truncate font-size-16 banner-card-title" style="font-weight: 500;">{{cat?.name}}</div>
      </div>
    </div>
  </div>
</mat-card>
