
* {
  font-size: 14px;
}
.banner-card {
  cursor: pointer;
  a {
    color: inherit;
  }

  &-list:hover {
    color: var(--primary);
  }

  &-hashtag:hover {
    color: var(--primary);
  }
}

.sponsor-card {
  border-radius: 12px;
}
