* {
  font-size: 14px;
}
.chip-tag {
  margin-top: 8px;
  padding: 4px 12px;
  border-radius: 5px;
  color: black;
  font-size: 12px;
  background-color:rgba(0, 0, 0, 0.08);
}

.like {
  color: green;
}

.dislike {
  color: red;
}
